{% for item in ifd %}
set interfaces {{ item.name }} unit {{ item.unit }} family int address {{ item.ip }}
{% endfor %}


interfaces {
{% for item in ifd %}
    {{ item.name }} {
        unit {{ item.unit }} {
            family inet {
                address {{ item.ip }};
            }
        }
    }
{% endfor %}
}
